<div class="container">

  <img src="https://www.jippostore.com/jippo/img/logo-j.png" alt="web app logo" width="100px" height="100
  px">

  <h1>Job Hunt</h1>

  <div class="front-page">

    <div class="form-group">
      <form method="get" action="/search">
        <h1> Welcome </h1>
        <input class="form-control" type="submit" value="Search"><br>
      </form>

      <form method="get" action="/favorite">
        <input class="form-control" type="submit" value="Favorites"><br>
      </form>

      <form method="get" action="/logout">
        <input class="form-control" type="submit" value="Logout">
      </form>
    </div>

  </div>

</div>