<div class="container">

  <img src="https://www.jippostore.com/jippo/img/logo-j.png" alt="web app logo" width="100px" height="100
  px">

  <h1>Job Hunt</h1>

  <div class="front-page">

    <div class="form-group">
      <form id="register" method="post" action="/signin">
        <h1> Sign In </h1>
        <input type="text" class="form-control" name="username" placeholder="Your Username"><br>
        <input type="password" class="form-control" name="password" placeholder="Password"><br>
        <input class="form-control home-signin" type="submit" value="Sign In">
      </form>
    </div>

  </div>

  <div class="footer">

    <button class="sign-in btn btn-default before-sign-in" type="button">Sign In!</button>

    <button class="sign-up btn btn-default before-sign-in" type="button">Sign Up!</button>

    <form class="after-sign-in" method="get" action="/logout">
      <input class="btn btn-default" type="submit" value="Log Out!">
    </form>
  
    <form class="after-sign-in"method="get" action="/search">
      <input class="btn btn-default" type="submit" value="Search!">
    </form>

    <form class="after-sign-in" method="get" action="/favorite">
      <input class="btn btn-default" type="submit" value="Favorites!">
    </form>



  </div>

</div>

